In [1]:
import pandas as pd

In [6]:
order_df = pd.read_excel('Data/Raw Data.xlsx',sheet_name = 0)

In [7]:
order_df

          Order ID Order Date     Customer ID Product ID  Quantity
0    QEV-37451-860 2019-09-05  17670-51384-MA      R-M-1         2
1    QEV-37451-860 2019-09-05  17670-51384-MA    E-M-0.5         5
2    FAA-43335-268 2021-06-17  21125-22134-PX      A-L-1         1
3    KAC-83089-793 2021-07-15  23806-46781-OU      E-M-1         2
4    KAC-83089-793 2021-07-15  23806-46781-OU    R-L-2.5         2
..             ...        ...             ...        ...       ...
995  RLM-96511-467 2020-01-06  43014-53743-XK    R-L-2.5         1
996  AEZ-13242-456 2022-05-04  62494-09113-RP    R-M-0.5         5
997  UME-75640-698 2019-10-11  62494-09113-RP    A-M-0.5         4
998  GJC-66474-557 2021-08-03  64965-78386-MY      A-D-1         1
999  IRV-20769-219 2020-10-15  77131-58092-GE    E-M-0.2         3

[1000 rows x 5 columns]

In [8]:
order_df[["Order ID","Product ID","Quantity"]] = order_df.groupby(["Order ID","Product ID"]).agg({'Quantity':'sum'}).reset_index()

In [9]:
order_df = order_df.dropna(subset = ["Order ID"])

In [10]:
order_df["Quantity"].dtypes

dtype('float64')

In [11]:
order_df.dtypes

Order ID               object
Order Date     datetime64[ns]
Customer ID            object
Product ID             object
Quantity              float64
dtype: object

In [12]:
order_df.to_csv('Data\orders.csv',index=False)

In [14]:
customers_df = pd.read_excel('Data/Raw Data.xlsx',sheet_name =1)

In [15]:
customers_df

,Customer ID,Customer Name,Email,Phone Number,Address Line 1,City,Country,Postcode,Loyalty Card
0,17670-51384-MA,Aloisia Allner,aallner0@lulu.com,+1 (862) 817-0124,57999 Pepper Wood Alley,Paterson,United States,7505,Yes
1,73342-18763-UW,Piotr Bote,pbote1@yelp.com,+353 (913) 396-4653,2112 Ridgeway Hill,Crumlin,Ireland,D6W,No
2,21125-22134-PX,Jami Redholes,jredholes2@tmall.com,+1 (210) 986-6806,5214 Bartillon Park,San Antonio,United States,78205,Yes
3,71253-00052-RN,Dene Azema,dazema3@facebook.com,+1 (217) 418-0714,27 Maywood Place,Springfield,United States,62711,Yes
4,23806-46781-OU,Christoffer O' Shea,NaN,+353 (698) 362-9201,38980 Manitowish Junction,Cill Airne,Ireland,N41,No
...,...,...,...,...,...,...,...,...,...
995,43014-53743-XK,Jennica Tewelson,jtewelsonrn@samsung.com,+1 (469) 573-8379,4040 Hoard Junction,Dallas,United States,75210,No
996,62494-09113-RP,Marguerite Graves,NaN,+1 (479) 204-9111,91413 Scott Way,Fort Smith,United States,72905,No
997,10940-42739-ET,Etan Featenby,NaN,+1 (719) 416-9560,885 Toban Plaza,Colorado Springs,United States,80920,Yes
998,64965-78386-MY,Nicolina Jenny,njennyrq@bigcartel.com,+1 (562) 679-4750,6099 American Ash Court,Whittier,United States,90610,No
999,77131-58092-GE,Vidovic Antonelli,NaN,+44 (810) 927-9266,3242 Corscot Pass,London,United Kingdom,EC1V,Yes

In [16]:
customers_df.count()

Customer ID       1000
Customer Name     1000
Email              796
Phone Number       870
Address Line 1    1000
City              1000
Country           1000
Postcode          1000
Loyalty Card      1000
dtype: int64

In [17]:
customers_df["Phone Number"].fillna('unknown',inplace = True)

In [18]:
customers_df.count()

Customer ID       1000
Customer Name     1000
Email              796
Phone Number      1000
Address Line 1    1000
City              1000
Country           1000
Postcode          1000
Loyalty Card      1000
dtype: int64

In [19]:
customers_df["Email"].fillna('unknown',inplace = True)

In [20]:
customers_df.count()

Customer ID       1000
Customer Name     1000
Email             1000
Phone Number      1000
Address Line 1    1000
City              1000
Country           1000
Postcode          1000
Loyalty Card      1000
dtype: int64

In [21]:
customers_df.to_csv('Data\customers.csv',index=False)

In [23]:
products_df = pd.read_excel('Data/Raw Data.xlsx',sheet_name =2)

In [24]:
products_df.head()

  Product ID Coffee Type Roast Type  Size  Unit Price  Price per 100g   Profit
0    A-L-0.2         Ara          L   0.2       3.885          1.9425  0.34965
1    A-L-0.5         Ara          L   0.5       7.770          1.5540  0.69930
2      A-L-1         Ara          L   1.0      12.950          1.2950  1.16550
3    A-L-2.5         Ara          L   2.5      29.785          1.1914  2.68065
4    A-M-0.2         Ara          M   0.2       3.375          1.6875  0.30375

In [25]:
products_df.to_csv('Data\products.csv',index=False)